.icon_toggle {
    position: relative;
    width: 21px;
    height: 21px;
    display: inline-block;
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 2px;
}
.icon_toggle > input {
    width: 100%;
    height: 100%;
    inset: 0;
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.icon_toggle_img {
    width: 100%;
    height: 100%;
    inset: 0;
    opacity: 0.35;
    position: absolute;

    transition: opacity 0.15s ease;
}
.icon_toggle_img:hover {
    opacity: 0.5;
}
.icon_toggle_img:active {
    opacity: 0.4;
}