@import './colors.css';
@import "tailwindcss";

*, *:before, *:after {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}
html, body, #root {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--background);
}
a {
  text-decoration: none; 
}