.plain_text {
    color: var(--text);
}
.link_text {
    color: var(--link);
    position: relative;
    display: inline-block;
    opacity: 0.85;
    transition: opacity 0.1s ease;

    &:hover {
      opacity: 1.0;
    }
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0px;
      width: 100%;
      height: 1px;
      background-color: var(--link);
      opacity: 0.5;
      transform: scaleX(0);
      transform-origin: left;
      transition: transform 0.1s ease;
    }
    &:hover::after {
      transform: scaleX(1);
    }
}